html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}



h1 {
	text-align: center;
}


.gradient-button {
	background: rgb(171,255,50);
	background: linear-gradient(90deg, rgba(171,255,50,1) 0%, rgba(54,86,130,1) 49%, rgba(192,40,251,1) 100%);
}


button[disabled] {
	opacity: 0.4;
}