<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  <link href="/static/theme.css" rel="stylesheet">
  <link href="/static/timber.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">


  <style>
    .preview {
      width: 100%;
      max-width: 1100px;
      margin: 80px auto;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .preview::before {
      content: 'WIDGET PREVIEW';
      position: absolute;
      display: block;
      top: -18px;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.5);
    }
  </style>

</head>

<body>
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  <div data-widget-host="habitat" class="preview">

    <script type="text/props">
      { "userId": "4400854040740" }
    </script>

  </div>
  <script async src="/bundle.js"></script>
</body>

</html>